.FormRegistrar {
    width: 800px;
    height: 380px;
}

.dvFormLeft {
    float: left;
    width: 380px;
    height: 370px;
}

.dvFormRight {
    float: left;
    margin: 0px 0px 0px 5px;
    width: 380px;
    height: 370px;
}

.inputAvatar {
    background-color: transparent;
    height: 25px;
}

.SelectPerfil {
    width: 150px;
    height: 40px;
    font-size: 1.2em;
}

.inputSubmit {
    background-color: #d3dce0;
    border: 1px solid #787878;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
    /*padding: 7px;
    margin-right: 8px;*/
    width: auto;
}

.TxtForm {
    height: 30px;
}
