@Scripts.Render("~/Js/Project")
@Styles.Render("~/Css/Project")
@{ViewBag.Title = "Projetos";}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<div class="dvBody">
    @Html.ActionLink("Registrar", "Create", "Project")
</div>
